<%- include('./partials/header') %>

  

            <div class="min-h-screen flex flex-col">
                <div class="container px-10 py-20 flex flex-grow">
                 
                    <main class="w-3/4 bg-white p-8 shadow ml-4">
                        <h2 class="text-xl font-bold mb-4">Create Projects</h2>
                        <form autocomplete="off" action="/products/projectcreate" method="post" enctype="multipart/form-data">
                            <div class="mb-6">
                               
                                <div class="mb-4">
                                    <label class="block mb-2 font-medium">Peoject Image-1</label>
                                    <input name="image1" type="file" class="py-2 px-4 rounded" value="Select File" required>
                                </div>
                                <div class="mb-4">
                                    <label class="block mb-2 font-medium">Project Image-2</label>
                                    <input name="image2" type="file" class="py-2 px-4 rounded" value="Select File" required>
                                </div>
                                <h3 class="text-lg font-semibold mb-2">Project Details</h3>
                                <div class="grid grid-cols-2 gap-4">
                                    <input name="para1" type="text" placeholder="para1"
                                        class="border p-2 rounded w-full" required>
                                    <input name="para2" type="text" placeholder="para2"
                                        class="border p-2 rounded w-full" required>
                                    <input name="para3" type="text" placeholder="para3"
                                        class="border p-2 rounded w-full">
                                </div>
                            </div>

                            <div>
                                <h3 class="text-lg font-semibold mb-2">Project Name</h3>
                                <div class="grid grid-cols-2 gap-4">
                                    <input name="projectname" type="text" placeholder="Project Name"
                                        class="border p-2 rounded w-full" required>
                                  
                                </div>
                            </div>
                            <input class="px-5 py-2 rounded mt-3 bg-blue-500 text-white" type="submit"
                                value="Create Project">
                        </form>
                    </main>
                </div>
            </div>
            <%- include('./partials/footer') %>