<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anima</title>
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!---------------------------------GOO-Fonts-------------------------------------------------------->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=BIZ+UDPMincho:wght@400;700&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
</head>
<body style="background-color: black;">

    
    <nav>
        <div class="menu-icon" style="z-index: 150;" data-aos="fade-down-right" data-aos-delay="400">
            <span class="material-symbols-outlined"> menu </span>
          </div>
          <div class="logo">
            <h3><a href="merlin.html" class="logo-name">Anima</a></h3>
            </div>
  
        <ul class="nav-links">
        <li><a class="nav-content" href="/projects">Projects</a></li>
        <li><a class="nav-content" href="/Members">Members</a></li>
        <li><a class="nav-content"  href="/Events">Events</a></li>
       
        <div class="logo-box" data-aos="zoom-in">
            <img src="/images/drone-svgrepo-com.svg" class="logo logo-1" />
            <img
              src="/images/fighter-jet-plane-svgrepo-com.svg"
              class="logo logo-2"
            />
            <img src="/images/ANIMA-logo.jpg" class="logo logo-3" />
          </div>
          
        <li><a class="nav-content" href="/blogs">Blogs</a></li>
        <li><a class="nav-content" href="/contact">Gallery</a></li>
        <li><a class="nav-content" href="/users/logout" id="login">About Us</a></li>
        </ul>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <div class="login-icon" data-aos="fade-down-left" data-aos-delay="400">
            <span class="material-symbols-outlined"> face </span>
          </div>
      <hr class="navbar-line">
      </nav>


      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
        <script src="/javascript/scrippt.js"></script>
  <script src="/javascript/nav.js"></script>
</body>
</html>