<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ANIMA</title>
    <!---------------------------------CSS-Links----------------------------------------------->

    <link rel="stylesheet" href="/stylesheets/logo.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!---------------------------------GOO-Fonts-------------------------------------------------------->
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=BIZ+UDPMincho:wght@400;700&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-----------------------------------META------------------------------------------------------>

    <meta name="google" content="notranslate" />
  </head>

  <!------------------------------------NAV-BAR----------------------------------------------------->
  <body>
    <nav style="z-index: 150;">
      <div class="menu-icon" data-aos="fade-down-right" data-aos-delay="400">
          <span class="material-symbols-outlined"> menu </span>
      </div>
      <div class="logo">
          <h3><a href="merlin.html" class="logo-name">Anima</a></h3>
      </div>
      <ul class="nav-links">
          <li><a class="nav-content" href="/projects">Projects</a></li>
          <li><a class="nav-content" href="/Members">Members</a></li>
          <li><a class="nav-content" href="/Events">Events</a></li>
          <div class="logo-box" data-aos="zoom-in">
              <img src="/images/drone-svgrepo-com.svg" class="logo logo-1" />
              <img src="/images/fighter-jet-plane-svgrepo-com.svg" class="logo logo-2" />
              <img src="/images/ANIMA-logo.jpg" class="logo logo-3" />
          </div>
          <li><a class="nav-content" href="/blogs">Blogs</a></li>
          <li><a class="nav-content" href="/contact">Gallery</a></li>
          <li><a class="nav-content" href="/users/logout" id="login">About Us</a></li>
      </ul>
      <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
      <div class="login-icon" data-aos="fade-down-left" data-aos-delay="400">
          <span class="material-symbols-outlined"> face </span>
      </div>
      <hr class="navbar-line">
  </nav>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
      <script src="/javascript/nav.js"></script>

    <!-------------------------------Slide-show---------------------------------------------------------->
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="/images/IMGs/andrew-palmer-HpM4zwXAa88-unsplash.jpg" class="photo" />
      </div>
      <div class="mySlides fade">
        <img src="/images/IMGs/andrew-ruiz--ajZ_Xzeqe4-unsplash.jpg" class="photo" />
      </div>
      <div class="mySlides fade">
        <img src="/images/IMGs/chalo-garcia-5usqwiJ-0t0-unsplash.jpg" class="photo" />
      </div>
      <div class="mySlides fade">
        <img src="/images/IMGs/chris-leipelt-E-c-wWCq99o-unsplash.jpg" class="photo" />
      </div>
      <div class="mySlides fade">
        <img
          src="/images/IMGs/curioso-photography-QfOhOcrDmvk-unsplash.jpg"
          class="photo"
        />
      </div>
      <div class="mySlides fade">
        <img src="/images/IMGs/eric-ward-gWymmRfU4y0-unsplash.jpg" class="photo" />
      </div>
    </div>
    <br />
    <!-------------------------------Event-body---------------------------------------------------------->
    <div class="page-title">
      <img src="/images/IMG/Ani-logo.jpg" alt="" class="p-t-img ach-img-" />
      <p class="p-t-t">ANIMA</p>
    </div>

    <!-------------------------------Event-body---------------------------------------------------------->
    <!-------------------------------Event-body---------------------------------------------------------->

    <div class="ebp-box" style="z-index: 90; margin-top: 40px; ">
      <h1 class="event-box-head">Recent Event</h1>
      <div class="e-box">
        <div class="event-box">
          <h1 class="event-head">Event</h1>
          <div class="event-bod">
            <div class="event-img-box"></div>
            <p class="event-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis eum, ex molestias autem modi consequatur nisi eveniet
              amet, tempora blanditiis quos eaque sint dolor exercitationem
              libero fuga nemo excepturi, architecto accusamus quas accusantium
              eos earum laboriosam! Voluptatibus, pariatur eaque aperiam
              numquam, illum atque nisi eos natus nihil incidunt iure quas?
            </p>
          </div>
        </div>
      </div>
      <div class="eb-box">
        <div class="eb-sub-1">
          <h1 class="act-box-head">What's happening in club-room</h1>
          <div class="act-box">
            <h1 class="act-head">Activity</h1>
            <div class="act-img-box"></div>
            <p class="act-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis eum, ex molestias autem modi consequatur nisi eveniet
              amet, tempora blanditiis quos eaque sint dolor exercitationem
              libero fuga nemo excepturi, architecto accusamus quas accusantium
              eos earum laboriosam! Voluptatibus, pariatur eaque aperiam
              numquam, illum atque nisi eos natus nihil incidunt iure quas?
            </p>
          </div>
          <h1 class="fact-box-head">A Flying-Fact</h1>
          <div class="fact-box">
            <h1 class="fact-head">Fact</h1>
            <div class="fact-img-box"></div>
            <p class="fact-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Perferendis eum, ex molestias autem modi consequatur nisi eveniet
              amet, tempora blanditiis quos eaque sint dolor exercitationem
              libero fuga nemo excepturi, architecto accusamus quas accusantium
              eos earum laboriosam! Voluptatibus, pariatur eaque aperiam
              numquam, illum atque nisi eos natus nihil incidunt iure quas?
            </p>
          </div>
        </div>
        <div class="eb-sub-2">
          <h1 class="blog-box-head">Our latest blog</h1>
          <div class="blog-content blog-box">
            <h1 class="blog-head">Sample Heading</h1>
            <p class="para para-1">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores eius eveniet placeat quasi ex, nesciunt quidem quia rem
              cupiditate obcaecati aperiam quis necessitatibus recusandae
              distinctio saepe! Ut est tempore provident inventore quisquam eum
              aliquam eius repudiandae at distinctio praesentium, aspernatur
              veniam ipsam natus illum aliquid quibusdam optio ab neque enim?
            </p>
            <div class="image-box">
              <img src="/images/IMGs/Jet.png" class="image image-1" />
            </div>

            <p class="para para-2">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores eius eveniet placeat quasi ex, nesciunt quidem quia rem
              cupiditate obcaecati aperiam quis necessitatibus recusandae
              distinctio saepe! Ut est tempore provident inventore quisquam eum
              aliquam eius repudiandae at distinctio praesentium, aspernatur
              veniam ipsam natus illum aliquid quibusdam optio ab neque enim?
            </p>
            <div class="image-box">
              <img src="/images/IMGs/Jet.png" class="image image-1" />
            </div>
            <p class="para para-3">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores eius eveniet placeat quasi ex, nesciunt quidem quia rem
              cupiditate obcaecati aperiam quis necessitatibus recusandae
              distinctio saepe! Ut est tempore provident inventore quisquam eum
              aliquam eius repudiandae at distinctio praesentium, aspernatur
              veniam ipsam natus illum aliquid quibusdam optio ab neque enim?
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-------------------------------CONTENT-body---------------------------------------------------------->
    <div class="ach-box">
      <h1 class="ach-box-head">Achievement</h1>
      <div class="ach-1 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
        <div class="ach-cont ach-cont-1">
          <h1 class="t1 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-1" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>
      </div>
      <div class="ach-2 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="ach-cont ach-cont-2">
          <h1 class="t2 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-2" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>

        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
      </div>
      <div class="ach-1 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
        <div class="ach-cont ach-cont-3">
          <h1 class="t3 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-3" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>
      </div>
      <div class="ach-1 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="ach-cont ach-cont-4">
          <h1 class="t4 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-4" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>

        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
      </div>
      <div class="ach-1 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
        <div class="ach-cont ach-cont-5">
          <h1 class="t5 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-5" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>
      </div>
      <div class="ach-1 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="ach-cont ach-cont-6">
          <h1 class="t6 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-6" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>

        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
      </div>
      <div class="ach-1 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
        <div class="ach-cont ach-cont-7">
          <h1 class="t7 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-7" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>
      </div>
      <div class="ach-1 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="ach-cont ach-cont-8">
          <h1 class="t8 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-8" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>

        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
      </div>
      <div class="ach-1 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
        <div class="ach-cont ach-cont-9">
          <h1 class="t9 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-9" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>
      </div>
      <div class="ach-1 ach" data-aos="fade-down" data-aos-delay="500">
        <div class="ach-cont ach-cont-10">
          <h1 class="t10 t">Title</h1>
          <img src="/images/IMG/Ani-logo.jpg" alt="" class="common-img ach-img-10" />Lorem ipsum
          dolor sit, amet consectetur adipisicing elit. Aperiam necessitatibus
          maxime quo velit quam beatae architecto! Soluta, excepturi eum, iste
          voluptate quae numquam repellat placeat commodi error atque aut nulla,
          nihil sequi eos laborum ex dolore dolorum corrupti voluptas magnam
          labore. Repellendus quisquam ad qui et ipsam quam perferendis ipsum!
        </div>

        <div class="date date-1">
          <h1 class="date-text date-text-1">Aug 2024</h1>
        </div>
      </div>
    </div>


  </body>
  <script src="/javascript/home.js"></script>
</html>
