

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="stylesheet" href="/stylesheets/blog.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=BIZ+UDPMincho:wght@400;700&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <nav>
      <div class="menu-icon" data-aos="fade-down-right" data-aos-delay="400">
         <a href="/home" style="z-index: 160;"><span class="material-symbols-outlined"> menu </span></a> 
      </div>
      <div class="logo">
          <h3><a href="merlin.html" class="logo-name">Anima</a></h3>
      </div>
      <ul class="nav-links">
          <li><a class="nav-content" href="/projects">Projects</a></li>
          <li><a class="nav-content" href="/Members">Members</a></li>
          <li><a class="nav-content" href="/Events">Events</a></li>
          <div class="logo-box" data-aos="zoom-in">
              <img src="/images/drone-svgrepo-com.svg" class="logo logo-1" />
              <img src="/images/fighter-jet-plane-svgrepo-com.svg" class="logo logo-2" />
              <img src="/images/ANIMA-logo.jpg" class="logo logo-3" />
          </div>
          <li><a class="nav-content" href="/blogs">Blogs</a></li>
          <li><a class="nav-content" href="/contact">Gallery</a></li>
          <li><a class="nav-content" href="/users/logout" id="login">About Us</a></li>
      </ul>
      <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
      </div>
      <div class="login-icon" data-aos="fade-down-left" data-aos-delay="400">
          <span class="material-symbols-outlined"> face </span>
      </div>
      <hr class="navbar-line">
  </nav>

   
    <div class="heading">Projects</div>
    <div class="blog-boxes">
      <div class="blog-list blog-box">
        <h1 class="list-head" style="z-index: 10;">Project-list</h1>
        <ol>
          <% products.forEach(function(blog) { %> 
            <li class="list-item" style="z-index: 99;"> <a href="/projectmiddle/<%= blog._id %>" style="text-decoration: none; " >  <%= blog.projectname %> </a> </li>
               <% }); %>
 
        </ol>
      </div>
      <div class="blog-content blog-box">
        <h1>Sample Heading</h1>
        <p class="para para-1">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          eius eveniet placeat quasi ex, nesciunt quidem quia rem cupiditate
          obcaecati aperiam quis necessitatibus recusandae distinctio saepe! Ut
          est tempore provident inventore quisquam eum aliquam eius repudiandae
          at distinctio praesentium, aspernatur veniam ipsam natus illum aliquid
          quibusdam optio ab neque enim?
        </p>
        <div class="image-box">
          <img src="images/Jet.png" class="image image-1" />
        </div>

        <p class="para para-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          eius eveniet placeat quasi ex, nesciunt quidem quia rem cupiditate
          obcaecati aperiam quis necessitatibus recusandae distinctio saepe! Ut
          est tempore provident inventore quisquam eum aliquam eius repudiandae
          at distinctio praesentium, aspernatur veniam ipsam natus illum aliquid
          quibusdam optio ab neque enim?
        </p>
        <div class="image-box">
          <img src="/images/Jet.png" class="image image-1" />
        </div>
        <p class="para para-3">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          eius eveniet placeat quasi ex, nesciunt quidem quia rem cupiditate
          obcaecati aperiam quis necessitatibus recusandae distinctio saepe! Ut
          est tempore provident inventore quisquam eum aliquam eius repudiandae
          at distinctio praesentium, aspernatur veniam ipsam natus illum aliquid
          quibusdam optio ab neque enim?
        </p>
      </div>
    </div>
    <%- include('./partials/footer') %>
