
body {
	background-color: black;
  }
  .btn-box {
	border: 5px solid aliceblue;
	width: fit-content;
	margin: auto;
	padding: 0%;
	border-radius: 50px;
  }
  .btn {
	width: 8vw;
	height: 2rem;
	margin: 0;
  }
  .sign-btn {
	border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
	border: none;
	background-color: aliceblue;
  }
  .log-btn {
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;
	border: none;
	background-color: black;
	color: aliceblue;
  }
  .anima-img {
	height: 30vh;
  }
  .img-box {
	display: flex;
	justify-content: center;
  }
  label {
	color: aliceblue;
	font-family: "Archivo Black", sans-serif;
	font-size: 1.3rem;
  }
  .user-form {
	display: flex;
	flex-direction: row;
	height: 20rem;
	width: 98vw;
	padding: 10px;
	align-content: center;
  }
  .inp,
  .off-inp {
	margin-bottom: 2rem;
	width: 30vw;
	height: 3rem;
	font-size: 1.3rem;
  }
  .big-box {
	display: flex;
	width: 100%;
	justify-content: center;
  }
  .div-1 {
	width: 50%;
	display: flex;
	flex-direction: column;
  }
  .div-2 {
	width: 50%;
	display: flex;
	flex-direction: column;
  }
  .off-user-form-box {
	width: 50vw;
	display: none;
  }
  .off-user-form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .off-email {
	display: none;
  }
  .sign-up-btn,
  .ver-class {
	border: 8px solid rgba(0, 0, 0, 0.507);
	width: 20vw;
	margin-bottom: 3vh;
	height: 10vh;
	border-radius: 40px;
	font-family: "Archivo Black", sans-serif;
	font-size: 1rem;
	color: black;
	background-color: aliceblue;
  }
  .sign-up-btn:hover,
  .ver-class:hover {
	border: 8px solid aliceblue;
	color: aliceblue;
	background-color: black;
  }
  .ver-class-2 {
	display: none;
  }
  .ver-class-1 {
	display: block;
  }
  .emailMem {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  