.nav-body {
    display: flex;
    flex: row;
    justify-content: space-around;
  }
  .menu-icon {
    align-self: center;
    justify-self: flex-start;
    font-size: 2rem;
    margin-right: auto;
    padding: 5px;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
    color: aliceblue;
  }
  .material-symbols-outlined:hover {
    cursor: default;
  }
  .nav-list {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    justify-self: center;
  }
  .nav-content {
    align-self: center;
    padding: 0.3rem;
    color: white;
    margin-right: 1.2rem;
  }
  .nav-content:hover {
    background-color: #4e4e6d;
    color: black;
    border-radius: 25px;
    cursor: default;
  }
  .logo-box {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 3px solid black;
    border-radius: 50%;
    background-color: aliceblue;
    align-self: center;
    margin-right: 1.2rem;
  }
  .logo {
    width: 1.5rem;
    position: absolute;
    transition: opacity 1s ease, transform 1s ease;
  }
  .logo-1 {
    opacity: 0;
    width: 1.9rem;
  }
  .logo-2 {
    opacity: 1;
  }
  .logo-3 {
    opacity: 0;
  }
  .login-icon {
    justify-self: flex-end;
    font-size: 2rem;
    margin-left: auto;
    align-content: center;
    padding: 5px;
  }

/* Mobile Devices */
@media (max-width: 480px) {
  .nav-list {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .menu-icon {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  .nav-list.active {
    display: flex;
  }
}

/* Slide Menu Styles */
.slide-menu {
    height: 100%;
    width: 0; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* On top */
    top: 0;
    left: 0;
    background-color: #111; /* Black background */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* Transition effect */
    padding-top: 60px; /* Space from top */
}

.slide-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.slide-menu a:hover {
    color: #f1f1f1;
}

/* When the menu is open */
.slide-menu.open {
    width: 250px; /* Set the width of the slide menu */
}
