<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ol li a{
            text-decoration: none;
        }
    </style>
</head>

<body style="background-color: black; color: aliceblue;">
    <ol>
     <li> <a href="/owner/workassign"> Assign Task </a></li>
   <li>  <a href="/owner/workassign">Assign Project</a></li>
   <li> <a href="/blogassign">Creating Blog</a></li>
   <li>  <a href=""> Creating Project</a></li>
    </ol>
</body>

</html>