<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheets/welcome.css" >
    <link rel="stylesheet" href="/stylesheets/log-box.css" >
    <link rel="stylesheet" href="/stylesheets/login.css">

    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <style>
      *{
        margin: 0%;
      }

      body{
        background-image: url(/images/osman-rana-n61ur6rT_F8-unsplash.jpg);
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <div class = "containor" style="z-index: 10;">
        <header class="title" data-aos="fade-down">
            <h1 class="anima">ANIMA</h1>
          </header>
          <div class="menu" data-aos="fade-right">
            <img
              src="/images/menu_60dp_5F6368_FILL0_wght400_GRAD0_opsz48.png"
              alt="menu"
              class="menu-img"
            />
          </div>
          <div class="ani-logo" data-aos="fade-left" onclick="">
            <img src="/images/Ani-black-logo.jpg" alt="ANIMA-LOGO" class="ani-logo-img" />
          </div>
          <div class="bottom">
            
          <a class="join" data-aos="fade-up" style="text-decoration: none;" href="/loginn" >Join</a>
            <div class="quote">
              Aviation is good and all, but nothing can beat the feel of hard cash in
              you hand
            </div>
          </div>
  
    </div>

    



   

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
  <script src="/public/javascript/"></script>
</html>
