.data-c {
    background-color: aliceblue;
    font-family: "BIZ UDPMincho", serif;
    display: flex;
    padding: 1.7rem;
    border-radius: 40px;
    margin: auto;
    margin-top: 10rem;
    width: fit-content;
  }
  .data-cont{
      display: flex;
      flex-direction: column;
      width: 50vw;
  }
  .data-c-1{
      display: flex;
      margin: 2rem;
      justify-content: space-around;
  }
  .member-name{
      color: black;
      font-family: "Archivo Black", sans-serif;
      font-size: 3rem;
  }
  .member-pos{
      font-family: "Archivo Black", sans-serif;
      margin: .2rem;
  }
  
  .member-img {
    width: 20vw;
    border-radius: 30px;
    margin: 2rem;
    height: auto;
  }
  