*{
    margin: 0%;
}


body{
    background-image: url(IMG/osman-rana-n61ur6rT_F8-unsplash.jpg);
    background-size: cover;
}

.title{
    color: white;
    font-size: 7rem;
    display: flex;
    justify-content: center;
}
.anima{
    margin-bottom: 0;
}
.menu{
    position: absolute;
    top: 0;
}
.menu-img{
    height: 3rem;
}
.ani-logo{
    position: absolute;
    top: 0;
    right: 0%;
}
.ani-logo-img{
    height: 3.3rem;
    border-radius: 50%;
}
.bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100vw;
    margin-bottom: 2.8rem;
}
.join{
    color: brown;
    font-size: 2.5rem;
}
.quote{
    color: aliceblue;
    font-size: 1.5;
    font-family: "Montserrat", sans-serif;
}

